footer{
    border-top: 1px solid #c1bfb17d;
}
.footer-content{
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-items: center;
}
.footer-logo{
    img{
        width: 185px;
    }
}
.footer-about{
    li{
        list-style-type: none;
        margin: 10px 0;
        &:nth-of-type(1){
            a{
                color:#000;
                font-size: 15px;
                text-transform: uppercase;
                font-weight: bold;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        a{
            text-decoration: none;
            color: $maincolor;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
.newsletter{
    h4{
        font-size: 22px;
    }
    p{
        color: $maincolor;
        font-size: 13px;
    }
    .newsletter-box{
        margin: 25px 0;
        input{
            padding: 10px;
        }
        a{
            text-decoration: none;
            color: white;
            background-color: $maincolor;
            padding: 12px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 15px;
        }
    }
    .socials{
        i{
            font-size: 18px;
            margin: 0 10px; 
        }
    }
}
.credits{
    text-align: center;
    color: white;
    background-color: $maincolor;
    padding: 12px 0;
    a{
        color: inherit;
    }
}