.whitehall-background{
   background-image: url(../images/hero-vines_1920x700_crop_center.jpg);
   height: 700px;
   position: relative;
   &::before{
    content:'';
    background-color: rgb(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
   }
   .whitehall-txt{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    small{
        font-weight: bold;
        color: white;
        font-size: 15px;
    }
    h1{
        font-size: 44px;
    }
   }
}
.explore-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    .product{
        a{
            text-decoration: none;
            text-transform: uppercase;
            color: black;
            letter-spacing: 1px;
            &:hover{
                text-decoration: underline;
            }
            h3{
                font-weight: lighter;
            }
        }
    }
    img{
        width: 100%;
    }
}
.main-family{
    margin-top: 40px;
    background-color: rgb(251, 251, 251);
    .wrapper{
        display: flex;
        align-items: center;
        text-align: center;
    }
    .main-family-box{
        display: flex;
        justify-content: center;
        .main-family-txt{
            width: 60%;
        }
        p{
            font-size: 14px;
            letter-spacing: 1px;
            margin: 40px 0;
        }
    }
}
.main-collection{
    text-align: center;
    .collection-box-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    img{
        width: 100%;
        }
    }
    .collection-box-txt-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .collection-box-txt{
        width: 70%;
        p{
            font-size: 15px;
        }
    }
    .collection-button{
        display: flex;
        justify-content: space-between;
        a:not(:last-child)::after{
            content: '|';
            margin: 0 15px;
        }
    }
}
.main-grapevine{
    h2{
        margin-top: 40px;
        text-align: center;
    }
    .grapevine-box-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    img{
        width: 100%;
        }
    }
    .grapevine-txt{
        margin: 15px 0;
        small{
            color: $maincolor;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            &::before{
                content: "|";
                margin: 0 15px;
            }
        }
        h4{
            font-size: 24px;
        }
    }
}
.main-button{
    display: flex;
    justify-content: center;
    margin: 40px;
}


.introduction{
    background-color: rgb(251, 251, 251);
    text-align: center;
    margin:0 0 40px 0;
    h1{
        margin: 0;
        padding: 50px 0;
    }
}
.bottles{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    .product-img{
        img{
            width: 100%;
        }
    }
}
.bottle__big{
    grid-column: span 2;
    grid-row: span 2;
}
.product-txt{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 19px;
    .bottle-price{
        justify-self: end;
    }
    .bottle-year{
        font-style: italic;
        color: $maincolor;
        font-size: 12px;
    }
}
article:last-child{
    margin: 0 0 40px 0;
}
.description{
    text-align: center;
}
article:hover{
    .product-img{
        background-image: url(../images/pinot191_628x628.png);
    }
}